html,ic_
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: minmax(70px, 80px) minmax(70px, 80px) 7fr;
}

#sideBar {
  grid-row: 1/4;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  background-color: #201913;
}

#dashboard {
  display: flex;
  align-items: start;
}
#dashboardText {
  font-size: 35px;
  font-weight: bolder;
  padding-bottom: 40px;
  padding-left: 20px;
}
#dashboardSvg {
  height: 40px;
  color: white;
  padding-top: 2px;
}

.sideItems {
  padding-bottom: 15px;
  font-size: 20px;
}

#upperSide {
  padding-bottom: 30px;
}

#header {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.searchBar {
  display: flex;
  width: 50vh;
  align-items: center;
}

#search {
  height: 30px;
  border-radius: 20px;
  background-color: rgb(235, 235, 235);
  border: none;
  width: 150%;
}

#magnify {
  height: 55px;
  padding-right: 20px;
}

#navBar {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightSide {
  display: flex;
}
.rightSide * {
  margin: 20px;
}

#bell {
  height: 30px;
}

.leftSide {
  display: flex;
  gap: 20px;
  padding-left: 10px;
}
#navBar button {
  border-radius: 20px;
  width: 80px;
  height: 30px;
}

#mainBody {
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-rows: minmax(50px, 60px) auto;
  grid-template-columns: 2fr 0.65fr;
  background-color: rgb(235, 235, 235);
}

#mainHeading {
  grid-row: 1/2;
  grid-column: 1/2;
  padding-left: 20px;
  display: flex;
  align-items: end;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}

#annoHeading {
  grid-row: 1/2;
  grid-column: 2/3;
  padding-left: 30px;
  display: flex;
  align-items: end;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  /* margin-left: 30px; */
}

#projects {
  grid-row: 2/3;
  grid-column: 1/2;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  grid-auto-rows: minmax(20vh, 1fr);
  padding-left: 20px;
  min-height: 100vh;
}

.card {
  padding-left: 25px;
  background-color: white;
  border-radius: 20px;
  border-left: 12px solid rgb(189, 111, 8, 0.5);
}

#announcements {
  grid-row: 2/3;
  grid-column: 2/3;
  padding-left: 20px;
}

button {
  color: white;
  font-size: 15px;
  font-weight: bolder;
  background-color: #201913;
  border: none;
}

.photo {
border-radius: 10%;
}

.rightSide .photo {
  height: 35px;
}
.leftSide .photo {
  height: 50px;
}
.projectName {
  font-size: 20px;
  font-weight: bold;
}
.userName {
  font-size: 20px;
  font-weight: bold;
}

#announcements {
  background-color: white;
  margin-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  margin-right: 20px;
  /* height: 500px; */
  max-height: 50vh;
  overflow-y: auto;
  display: grid;
  grid-template-rows: repeat(auto-fil);
}

.announcement {
  border-bottom: 1px solid black;
  padding-bottom: none;
  /* margi */
}
.annoName {
  font-size: 20px;
  font-weight: bold;
}

.greetings p {
  font-size: 20px;
}
.dashboardSvg {
  height: 40px;
}

.sideItems {
  display: flex;
  align-items: center;
}

.sideIcon {
  height: 30px;
  padding-right: 15px;
} 
.gay{
  text-decoration: none;
  color: #fff;
}